<!DOCTYPE>
<html>

<head>
  <title>VueJS Course</title>
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
  <div id="app">
    <p v-if="mode == 1">Showing v-if </p>
    <h3 v-else-if="mode == 2">Showing v-if ELSE </h3>
    <p v-else="mode == 3">Showing ELSE</p>



    <select v-model="mode">
      <option value=1 >v-if </option>
      <option value=2 >v-if else </option>
      <option value=3>else</option>
    </select>
  </div>



  <script src="https://unpkg.com/vue@next"></script>
  <script src="app.js"></script>
</body>

</html>